.backBtn {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  background: none;
  border: none;
  color: #ff4466;
  font-weight: 600;
  font-size: 1rem;

  cursor: pointer;
  padding: 0.5rem 0.8rem;
  border-radius: 8px;
  transition: color 0.2s ease, transform 0.2s ease;
}

.backBtn:hover {
  color: #e03555;
  transform: translateX(-2px);
}

.backIcon {
  width: 1.8rem;
  height: 1.8rem;
}
