

.card {
  width: 100%;
  max-width: 720px;
  padding: 1rem;
  border-radius: 20px;
  background: rgba(255,255,255,0.05);
  backdrop-filter: blur(14px);
  -webkit-backdrop-filter: blur(14px);
  border: 1px solid rgba(255,255,255,0.08);
  box-shadow:
    0 0 20px rgba(255, 68, 102, 0.18),
    0 0 40px rgba(102, 224, 255, 0.08),
    inset 0 0 25px rgba(255,255,255,0.03);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 0 auto;
  box-sizing: border-box;
}


.saveBtn {
  align-self: center;
  padding: 0.8rem 2rem;
  background-color: #ff4466;
  color: white;
  border: none;
  border-radius: 12px;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.3s;
}

.saveBtn:hover {
  transform: scale(1.05);
  box-shadow: 0 0 12px rgba(255, 68, 102, 0.5);
}


