.messagesContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 12px;
  box-sizing: border-box;
}

.botRow {
  display: flex;
  width: 100%;
  justify-content: flex-start;
}

.sentRow {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.receivedRow {
  display: flex;
  width: 100%;
  justify-content: flex-start;
}




.sentBubble {
  max-width: 70%;
  padding: 10px 14px;
  border-radius: 14px;
  font-size: 15px;
  line-height: 1.4;
  position: relative;
  word-break: break-word;
  margin-left: 6px;
  margin-right: 6px;
  background: #4a90e2;
  color: white;
  border-bottom-right-radius: 4px;
}


.receivedBubble {
  max-width: 70%;
  padding: 10px 14px;
  border-radius: 14px;
  font-size: 15px;
  line-height: 1.4;
  position: relative;
  word-break: break-word;
  margin-left: 6px;
  margin-right: 6px;
  background: #ffffff;
  color: rgb(255, 255, 255);
  border-bottom-left-radius: 4px;
}

.botBubble {
  max-width: 65%;
  padding: 10px 14px;
  border-radius: 14px;
  font-size: 15px;
  line-height: 1.4;
  position: relative;
  word-break: break-word;
  margin-left: 6px;
  margin-right: 6px;
  background: #5854542f;
  color: rgb(255, 255, 255);
  border-top-left-radius: 4px;
}

.sentText {
  color: white;
  background: transparent;
  white-space: pre-wrap; /* keeps line breaks */
  word-break: break-word;
}

.receivedText {
  color: #2b2929;
  background: transparent;
  white-space: pre-wrap; /* keeps line breaks */
  word-break: break-word;
}

.botText {
  color: #ffffff;
  background: transparent;
  white-space: pre-wrap; /* keeps line breaks */
  word-break: break-word;
}

.sentTimestamp {
  font-size: 11px;
  opacity: 0.7;
  margin-top: 4px;
  display: block;
  text-align: right;
  color: white;
}

.receivedTimestamp {
  font-size: 11px;
  opacity: 0.7;
  margin-top: 4px;
  display: block;
  text-align: left;
  color: #333;
}

.botTimestamp {
  font-size: 11px;
  opacity: 0.7;
  margin-top: 4px;
  display: block;
  text-align: left;
  color: #c0bdbda9;

}

.botAvatar {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
  font-size: 18px;
  opacity: 0.9;
}


.botText {
  opacity: 0.95;
}
