.inputContainer {
  display: flex;
  gap: 10px;
  width: 98%;
  margin-bottom: 10px;
  margin-top: auto;

}

.input {
  display: flex;
  flex: 1;
  padding: 10px 14px;
  border-radius: 20px;
  font-size: 15px;
}

.sendBtn {
  padding: 10px 18px;
  border-radius: 20px;
  border: none;
  color: white;
  background: linear-gradient(135deg, #ff4466, #ff5f87);
  box-shadow:
  0 0 10px rgba(255, 68, 102, 0.55),
  0 0 20px rgba(255, 68, 102, 0.35),
  0 0 40px rgba(255, 68, 102, 0.18);
}
.sendBtn:active {
  transform: translateY(0px);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}
