.contentWrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 485.6px;
  width: 100%;

}

@media (max-width: 480px) {
  .contentWrapper {
    width: 90%;
  }
}


